*.jpg
*.JPG
*.gif
*.GIF
*.png
*.PNG
*.ttf
*.TTF
*.woff
*.WOFF
*.svg
*.SVG
*.eot
*.EOT
/other
/images
heidi/
webstats.i.txt
sitemap.xml
Sitemap.xml
domparser/
phpQuery/
vendor/
Archive/
/scripts/checktracker.log

