Header set Access-Control-Allow-Origin "*"

order allow,deny
allow from all
# BEGIN EXPIRES
<IfModule mod_expires.c>
<Files *.php>
  ExpiresByType text/html A0
</Files>
  ExpiresActive On
  ExpiresDefault "access plus 10 days"
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType text/plain "access plus 0 seconds"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType application/x-javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 week"
  ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END EXPIRES

# BEGIN NO Cookies for static items
 <FilesMatch "\.(js|css|jpg|png|jpeg|gif|xml|json|txt|pdf|mov|avi|otf|woff|ico|swf)$">
 	RequestHeader unset Cookie
 	Header unset Cookie
  	Header unset Set-Cookie
 </FilesMatch>
# END NO Cookies

AddType application/x-javascript .js
AddType text/css .css
AddType text/xml .xml
AddType text/cache-manifest .manifest

AddDefaultCharset UTF-8

# 11/3/10 hack attempts
RewriteEngine on
# Don't allow these robots
#
RewriteCond %{HTTP_USER_AGENT} "ahrefsbot|baiduspider|ezooms|yandex\.com" [NC]
RewriteRule ^.*$ badbot.php [L]

RewriteCond %{HTTP_USER_AGENT} ^libwww-perl
RewriteRule .* - [F]

#RewriteCond %{REQUEST_URI} ^/webstats\.php
#RewriteCond %{REQUEST_METHOD} POST
#RewriteRule .* - [F]

RewriteRule ^download\.pdf$ downloadpdf.php [L]

# BLP 2014-09-14 -- track robots that look at robots.txt
RewriteRule ^robots\.txt$ robots.php [L,NC]
RewriteRule ^Sitemap\.xml$ sitemap.php [L,NC]

# get rid of semalt
RewriteCond %{HTTP_REFERER} semalt\.com [NC] 
RewriteRule .* - [F] 
RewriteCond %{HTTP_REFERER} buttons-for-website\.com [NC] 
RewriteRule .* - [F] 

# Do compression of the followin types

AddOutputFilterByType DEFLATE \
  "application/atom+xml" \
  "application/javascript" \
  "application/x-javascript" \
  "application/json" \
  "application/ld+json" \
  "application/manifest+json" \
  "application/rdf+xml" \
  "application/rss+xml" \
  "application/schema+json" \
  "application/vnd.geo+json" \
  "application/vnd.ms-fontobject" \
  "application/x-font-ttf" \
  "application/x-web-app-manifest+json" \
  "application/xhtml+xml" \
  "application/xml" \
  "font/opentype" \
  "image/svg+xml" \
  "image/x-icon" \
  "text/cache-manifest" \
  "text/css" \
  "text/html" \
  "text/javascript" \
  "text/plain" \
  "text/vtt" \
  "text/x-component" \
  "text/xml"
 
# # Block fake traffic
# # Block all http and https referrals from "savetubevideo.com" and all subdomains of "savetubevideo.com"
# RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*savetubevideo\.com\ [NC,OR]
# # Block all http and https referrals from "srecorder.com" and all subdomains of "srecorder.com"
# RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*srecorder\.com\ [NC,OR]
# # Block all http and https referrals from semalt.com" and all subdomains of "semalt.com"
# RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*semalt\.com\ [NC,OR]
# # Block all http and https referrals from "kambasoft.com" and all subdomains of "kambasoft.com"
# RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*kambasoft\.com\ [NC]
# RewriteRule .* - [F]
