extends layout

append stylesheets
  style.
    input, select { font-size: 1rem; padding-left: .3rem; margin-bottom: 1rem;}
    input[type='text'] { width: 20rem; }

block content
  main
    form(action='showmarkdown.php' method='post')
      input(type='text' name='filename' autofocus placeholder='Enter Markdown File Name' required)
      br
      select(name='type')
        option GitHub
        option Traditional
        option Extended
        option RAW
      br
      input(type='submit' value='Submit')
